{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "xo/esnext",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "jest"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "lines-between-class-members": "off",
    "capitalized-comments": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
